.footer {
  background-color: var(--primary-blue);
  color: var(--white);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.footer__link {
  color: var(--white);
}

.footer__link .icon-link {
  fill: var(--white);
}
