.header {
  background-color: var(--white);
  position: fixed;
  height: 4rem;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.25em var(--black-tr);
  overflow: hidden;
}

.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-link {
  color: var(--primary-blue);
}
