.section {
  padding-bottom: 2rem;
}

.section:first-child {
  padding-top: 2rem;
}

/* Short-info */

.short-info__image {
  border-radius: 50%;
}

.short-info__title {
  margin-bottom: 0;
}

.short-info__status {
  font-family: monospace;
  background-color: var(--code-bg);
  padding: 0.25em 0.5em;
  color: var(--code-clr);
}

.hobbies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 380px;
}

.hobbies__item .list-item__title {
  margin-bottom: 0;
}

.hobbies__item .list-item__text {
  font-size: 0.88em;
}


/* Projects */
.projects__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}


.projects__item {
  max-width: 20.63em;
  background-color: rgba(0, 0, 0, 0.08);
  background-image: url("../../images/project-image.png");
  background-position: top 0;
  background-size: 100% 6.88em;
  background-repeat: no-repeat;
  border-radius: 0.5em;
  padding: 6.88em 1em 1.25em 1em;
  position: relative;
  transition: all var(--transition-fast);
  min-width: 200px;
}

.projects-item__title {
  margin-top: 0.75em;
  line-height: 1.3;
}

.projects-item__text,
.projects-item__link {
  font-size: 0.88em;
}

.projects-item__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-item__link:focus {
  outline: none;
  color: var(--accent-orange);
}

.projects__item:focus-within,
.projects__item:hover {
  transform: translateY(-0.5em);
  box-shadow: 0 0.5em 0 var(--black-tr);
}
