*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  color: var(--primary-blue);
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
}

a,
button {
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}


.main {
  margin-top: 4rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  color: var(--primary-blue);
  transition: color var(--transition-fast);
}

.icon-link {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  margin-right: 0.13em;
  margin-bottom: 0.13em;
  fill: var(--primary-blue);
  transition: fill var(--transition-fast);
}


.link:hover,
.link:focus {
  outline: none;
  color: var(--accent-orange);
}

.link:hover .icon-link,
.link:focus .icon-link {
  fill: var(--accent-orange);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
}


p {
  margin-bottom: 0.3em;
}

code {
  font-family: monospace;
}
